.emph {
    font-size: 140%;
    color: blue;
    list-style-type: square;
}

.reveal .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    -webkit-box-shadow: none;
    border: 0;
}