.emph {
    font-size: 140%;
    color: blue;
    list-style-type: square;
}

.reveal .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    -webkit-box-shadow: none;
    border: 0;
}

.js {
    background-color: rgba(255, 179, 8, 0.19);
}

a.gh {
    font-family: 'octicons';
}